ul {
    list-style-type: none;
    padding: 0;
}

li {
    border: 1px solid #555;
    border-radius: 14px;
    cursor: pointer;
    margin: 12px 0;
    padding: 4px 12px;
}

.container {
    font-family: sans-serif;
}