.numbers {
    display: flex;
    flex: 1 3 auto;
    flex-wrap: wrap;
    max-width: 75%;
}

.numbers div {
    background-color: #ccc;
    cursor: pointer;
    flex: 0 1 16%;
    margin: 10px;
    padding: 20px;
    text-align: center;
}

.display {
    align-items: center;
    border: 1px solid #999;
    display: flex;
    font-size: 1.5rem;
    justify-content: flex-end;
    min-height: 36px;
    padding: 6px;
}

.operators {
    display: flex;
    font-size: 2rem;
}

.operators div {
    background-color: aliceblue;
    cursor: pointer;
    flex: 0 1 20%;
    margin: 10px;
    padding: 20px;
    text-align: center;
}

.equals {
    align-items: center;
    background-color: #4d90fe;
    color: white;
    display: flex;
    flex: 0 1 25%;
    font-size: 2rem;
    justify-content: center;
}

.keypad {
    display: flex;
}