.container {
    border: 1px solid #ddd;
    box-sizing: border-box;
    color: #333;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0 auto;
    padding: 20px 0;
    width: 500px;
}

.numbers {
    display: flex;
    flex: 1 3 auto;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 339px;
}

.numbers div {
    background-color: #eee;
    border: 1px solid transparent;
    cursor: pointer;
    flex: 0 1 auto;
    font-size: 1.5rem;
    margin: 10px 0;
    padding: 20px 0;
    text-align: center;
    transition: all 500ms ease-in-out;
    width: 104px;
}

.numbers div:hover {
    background-color: #e7e7e7;
    border: 1px solid #777;
    filter: drop-shadow(1px 2 px 1px #999);
}

.display {
    align-items: center;
    border: 1px solid #bbb;
    display: flex;
    font-size: 1.5rem;
    justify-content: flex-end;
    min-height: 36px;
    padding: 6px;
    transition: all 500ms ease-in-out;
}

.display:hover {
    border: 1px solid #777;
    filter: drop-shadow(1px 2 px 1px #999);
}

.operators {
    display: flex;
    font-size: 2rem;
    justify-content: space-between;
}

.operators div {
    background-color: aliceblue;
    border: 1px solid transparent;
    cursor: pointer;
    flex: 0 1 auto;
    margin: 10px 0;
    padding: 12px 0;
    text-align: center;
    transition: all 500ms ease-in-out;
    width: 104px;
}

.operators div:hover {
    border: 1px solid #777;
    filter: drop-shadow(1px 2 px 1px #999);
}

.equals {
    align-items: center;
    background-color: #4d90fe;
    color: white;
    cursor: pointer;
    display: flex;
    flex: 0 1 auto;
    font-size: 2rem;
    justify-content: center;
    margin: 10px 0;
    transition: all 500ms ease-in-out;
    width: 104px;
}

.equals:hover {
    background-color: #3c76d4;
    border: 1px solid crimson;
    filter: drop-shadow(1px 2px 1px #999);
}

.keypad {
    display: flex;
    justify-content: space-between;
}

.y-inner-wrap {
    margin: 0 auto;
    width: 456px;
}