<main class="y-wrap">
    <div class="grid">
        <div class="grid__4">
            <div class="nimg nimg--square">
                <img src="https://www.placecage.com/200/300" alt="">
            </div>
            <div class="nimg nimg--square">
                <img src="https://www.placecage.com/g/200/300" alt="">
            </div>
            <div class="nimg nimg--square">
                <img src="https://www.placecage.com/c/200/300" alt="">
            </div>
            <div class="nimg nimg--square nimg--pheight">
                <img src="https://www.placecage.com/300/200" alt="">
            </div>
        </div>
        <div class="nimg nimg--tall">
            <img src="https://www.placecage.com/c/400/600" alt="">
        </div>
    </div>
</main>