<main class="y-wrap">
    <h1>Nicholas Cage makes life better</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus quia odio nostrum fugiat nam. Porro totam atque, accusantium maxime doloribus molestiae quod officiis culpa temporibus. Amet quo unde, rem commodi a aliquam qui dolore totam sed tempora tempore ullam omnis ut sunt eveniet illum earum quasi corrupti sit laborum quaerat?</p>
</main>